/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
/* .LoginPage {
  text-align: center;
  background-color: rgb(52, 199, 89);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'header' 'middle' 'footer';
} */


/* #title {
  font-family: 'Bebas Neue', cursive;
  font-size: 7rem;
} */

/* 
button#signIn {
  w
} */

#login {  
  grid-area: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginInput {
  width: 30vw;
  order: 1;
  display: flex;
  flex-direction: column;
}

/* .Logo {
  width: 30vw;
  height: 30vh; 
  order: 2;
  display: flex;
  flex-direction: row;
} */

#logoimg {
  width: 10rem;
  align-self: center;
}
