@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

.LoginContainer {
  text-align: center;
  background: rgb(252, 107, 109);
  background: linear-gradient(0deg, rgba(252, 107, 109, 1) 0%, rgba(255, 140, 84, 1) 100%);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'header' 'center' 'footer';
}

#LoginContainer {
  height: 80vh;
  width: 60vw;
  grid-area: center;
  /* justify-self: center; */
  background: rgb(252, 107, 109);
  background: linear-gradient(0deg, rgba(252, 107, 109, 1) 0%, rgba(255, 140, 84, 1) 100%);
  border-radius: 3%;
}

button {
  text-align: center;
  background-color: white;
  height: 5vh;
  width: 10vw;
  border-radius: 8px;
  align-self: center;
  margin: 1vw;
  transition: 0.3s ease-out;
}

button:hover {
  background-color: lightgrey;
  transition: 0.1s ease-in;
}
