.LoginPage {
  text-align: center;
  background-color: rgb(52, 199, 89);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'header' 'center' 'footer';
}

.LoginBox {
  height: 80vh;
  width: 60vw;
  grid-area: center;
  justify-self: center;
  background-color: rgb(0, 122, 255);
  border-radius: 3%;
  display: flex;
  flex-direction: row;
}

.LoginInput {
  width: 30vw;
  order: 1;
  display: flex;
  flex-direction: column;
}

.Logo {
  width: 30vw;
  order: 2;
  display: flex;
  flex-direction: row;
}

#logoimg {
  width: 100%;
  align-self: center;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
}

#googlelogo {
  width: 10%;
  margin-right: 10px;
  align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
  grid-area: header;
  justify-self: center;
  height: 5vh;
  width: 15vw;
}

button {
  text-align: center;
  background-color: white;
  height: 5vh;
  width: 10vw;
  border-radius: 8px;
  align-self: center;
}
