.LoginPage {
  text-align: center;
  background-color: rgb(52, 199, 89);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header" "center" "footer";
}

.LoginBox {
  height: 60vh;
  width: 25vw;
  grid-area: center;
  justify-self: center;
  background-color: rgb(0, 122, 255);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  text-align: center;
  order: 1;
  flex-basis: auto;
  height: 5vh;
  width: 10vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
